In [41]:
from sklearn.preprocessing import LabelEncoder

In [42]:
import pandas as pd

In [43]:
df= pd.read_csv('titanic_train.csv')
df.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [44]:
def encode_features(dataDF):
    features = ['Sex', 'Cabin','Embarked']
    for feature in features:
        le = LabelEncoder()
        le = le.fit_transform(dataDF[feature])
    return dataDF

In [45]:
encode_features(titanic_df).head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [62]:
def fillna(df):
    df['Age'].fillna(df['Age'].mean(), inplace = True)
    df['Cabin'].fillna('N', inplace= True)
    df['Embarked'].fillna('N', inplace = True)
    df['Fare'].fillna(0, inplace = True)
    return df

def drop_features(df):
    df.drop(columns = ['PassengerId', 'Name', 'Ticket'], inplace = True)
    return df

def format_features(df):
    from sklearn.preprocessing import LabelEncoder
    df['Cabin'] = df['Cabin'].str[0]
    features = ['Sex', 'Cabin','Embarked']
    for feature in features:
        le = LabelEncoder()
        df[feature] = le.fit_transform(df[feature])
    return df

def transform_features(df):
    df = fillna(df)
    df = drop_features(df)
    df = format_features(df)
    return df

In [63]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [64]:
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [65]:
titanic_df = pd.read_csv('titanic_train.csv')

In [66]:
y_titanic_df = titanic_df['Survived']

In [127]:
x_titanic_df =titanic_df.drop(columns =['Survived'])

In [128]:
x_titanic_df = transform_features(x_titanic_df)

In [129]:
from sklearn.model_selection import train_test_split

In [130]:
x_train, x_test, y_train, y_test = train_test_split(x_titanic_df, 
                                                    y_titanic_df, 
                                                    test_size = 0.2,
                                                    random_state = 11)

In [131]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [132]:
dt_clf = DecisionTreeClassifier(random_state =11)
rf_clf = RandomForestClassifier(random_state = 11)
lr_clf = LogisticRegression(solver = 'liblinear')

In [133]:
dt_clf.fit(x_train, y_train)
dt_pred = dt_clf.predict(x_test)
accuracy_score(y_test, dt_pred)

0.7877094972067039

In [134]:
print(f'DecisionTreeClassifier : {accuracy_score(y_test, dt_pred): .4f}')

DecisionTreeClassifier :  0.7877

In [135]:
rf_clf.fit(x_train, y_train)
rf_pred = rf_clf.predict(x_test)
accuracy_score(y_test, rf_pred)

0.8547486033519553

In [136]:
print(f'RandomForestClassifier : {accuracy_score(y_test, rf_pred): .4f}')

RandomForestClassifier :  0.8547

In [137]:
lr_clf.fit(x_train, y_train)
lr_pred = lr_clf.predict(x_test)
accuracy_score(y_test, lr_pred)

0.8659217877094972

In [138]:
print(f'LogisticRegression : {accuracy_score(y_test, lr_pred): .4f}')

LogisticRegression :  0.8659

In [139]:
from sklearn.model_selection import KFold

In [142]:
def exec_kfold(clf,x,y, folds = 5):
    from sklearn.metrics import accuracy_score
    from sklearn.model_selection import KFold
    kfold = KFold(n_splits = folds)
    scores=[]
    
    for iter_count, (train_index, test_index) in enumerate(kfold.split(x_titanic_df)):
        x_train, x_test = x_titanic_df.values[train_index], x_titanic_df.values[test_index]
        y_train, y_test = y_titanic_df.values[train_index], y_titanic_df.values[test_index]
        clf.fit(x_train, y_train)
        pred = clf.predict(x_test)
        predictions = clf.predict(x_test)
        accuracy=accuracy_score(y_test, predictions)
        scores.append(accuracy)
        print(f'교차 검증 {iter_count} 정확도: {accuracy:.4f}')
    print(f'평균 정확도: {np.mean(scores)}')

In [143]:
exec_kfold(dt_clf, x_titanic_df, y_titanic_df, folds = 5)

교차 검증 0 정확도: 0.7542
교차 검증 1 정확도: 0.7809
교차 검증 2 정확도: 0.7865
교차 검증 3 정확도: 0.7697
교차 검증 4 정확도: 0.8202
평균 정확도: 0.782298662984119

In [145]:
exec_kfold(rf_clf, x_titanic_df, y_titanic_df, folds = 5)

교차 검증 0 정확도: 0.7933
교차 검증 1 정확도: 0.8090
교차 검증 2 정확도: 0.8371
교차 검증 3 정확도: 0.7753
교차 검증 4 정확도: 0.8596
평균 정확도: 0.8148389931579938

In [144]:
exec_kfold(lr_clf, x_titanic_df, y_titanic_df, folds = 5)

교차 검증 0 정확도: 0.7933
교차 검증 1 정확도: 0.7921
교차 검증 2 정확도: 0.7753
교차 검증 3 정확도: 0.7472
교차 검증 4 정확도: 0.8427
평균 정확도: 0.7901198920343984